.hourly-forecast-card {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.hourly-forecast {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  column-gap: 1rem;
  padding: 1rem 0;
}


.hourly-forecast-entry {
  padding: 0 0.5rem;

  .time {
    display: block;
    text-align: start;
  }

  .weather {
    display: flex;
    flex-direction: row;
    align-items: center;

    .weather-icon {
      margin-right: 0.5rem;
    }
  }

  .precipitation {
    display: flex;
    flex-direction: row;
    align-items: end;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.25rem;
    }
  }
}
