.loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location-details-page {
  display: grid;
  grid-template-areas:
    "header header"
    "sidenav content";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;

  .header {
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    display: flex;
    flex-direction: row;
    grid-area: header;
    padding: 1rem;

    .icon-button {
      svg {
        fill: var(--text-on-primary-color);
      }
    }

    .location-and-time {
      flex: 1;
      text-align: center;

      .location {
        white-space: nowrap;
        font-size: clamp(1em, -0.875rem + 8.333vw, 2em);
      }

      .time {
        font-size: clamp(1em, -0.875rem + 8.333vw, 1.5em);;
      }

      * {
        margin: 0;
      }
    }
  }

  .sidenav-wrapper {
    grid-area: sidenav;
    transition: all 0.5s ease-in-out;
    transition-property: width, transform;
    overflow-y: hidden;
    box-sizing: border-box;
  }

  .body {
    grid-area: content-start / sidenav-start / content-end / content-end;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    padding: 0.5rem;
    overflow-y: auto;

    .current-weather {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  }
}

@media screen and (min-width: 1250px) {
  .location-details-page {
    .body {
      grid-area: content;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    .sidenav-wrapper {
      transition-property: width, transform;
      width: 0;

      &[data-opened="true"] {
        box-shadow: none;
        width: 300px;
      }
    }

    .sidenav {
      min-width: 300px;
      margin-right: 0;

      &[data-opened="true"]{
        box-shadow: none;
      }
    }
  }
}
