@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

:root {
    --card-background-color: #F8F0DF;
    --background-color: #FEFBF3;
    --primary-color: #79B4B7;
    --text-color: #040404;
    --text-on-primary-color: #FFFFFF;
    --color-red: #F35F59;
    --color-orange: #FAB15C;
    --color-green: #00B38D;
}

[data-theme="dark"] {
    --card-background-color: #040524;
    --background-color: #111129;
    --primary-color: #7489F4;
    --text-color: #FFFFFF;
    --text-on-primary-color: #FFFFFF;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    height: -webkit-fill-available;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}
